/vendor/
/composer.lock
/.phpunit.cache/
/build/
/.phpunit.result.cache
/.idea/
/.vscode/
/coverage/
/.php-cs-fixer.cache
/.php_cs.cache
/.php-cs-fixer.php
/phpunit.xml
/psalm.xml
/node_modules/
/.env
/.env.local
/.env.*.local
/docker-compose.override.yml
